/* GLOBAL */
/* line 2, sass/style.sass */
* {
  box-sizing: border-box; }

/* line 5, sass/style.sass */
body {
  margin: 0;
  background-color: #211d70;
  font-family: 'Brandon Text Medium', Arial, sans-serif;
  color: #fff; }

/* line 11, sass/style.sass */
section {
  width: 100%; }

/* line 14, sass/style.sass */
section > .container {
  text-align: center; }

/* line 17, sass/style.sass */
.container {
  max-width: 1000px;
  margin: 0 auto; }

/* fonts */
@font-face {
  font-family: 'Brandon Text Medium';
  src: url("../fonts/BrandonText-Medium.woff"); }

/* line 26, sass/style.sass */
h1 {
  font-size: 2.125em;
  font-weight: lighter; }

/* line 30, sass/style.sass */
h2 {
  font-size: 24px;
  font-weight: lighter;
  text-align: left; }

/* line 35, sass/style.sass */
p {
  margin: 0;
  font-family: font122183, Arial, sans-serif;
  font-size: 18px;
  text-align: justify;
  hyphens: auto; }

/* mixins */
/* GRID */
/* line 49, sass/style.sass */
[class*="col-"] {
  min-height: 1px;
  padding: 12px 30px;
  float: left; }

/* clearfix */
/* line 55, sass/style.sass */
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

/* LOGO */
/* line 62, sass/style.sass */
.logo {
  position: absolute;
  top: 30px;
  left: 58px;
  cursor: pointer;
  transition: .8s; }
  /* line 68, sass/style.sass */
  .logo:hover {
    opacity: .7;
    transform: scale(1.1); }

/* HEADER */
/* line 74, sass/style.sass */
.intro h1 {
  margin: 153px 0 2px 0; }

/* line 77, sass/style.sass */
.intro p {
  margin-bottom: 74px; }

/* ANIMATION ELEMENTS for:*/
/* all */
/* line 83, sass/style.sass */
figure {
  margin: 0 0 13px 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }

/* line 89, sass/style.sass */
.animation {
  filter: brightness(0) invert(1); }

/* beacons */
/* line 93, sass/style.sass */
.beacons {
  max-width: 126px;
  max-height: 96px;
  transition: .5s; }

/* dots */
/* line 99, sass/style.sass */
.dot {
  max-width: 9px;
  max-height: 9px;
  margin: -35px;
  background-size: cover; }

/* mobile with icon*/
/* line 106, sass/style.sass */
.complete_mobile {
  width: 76px;
  max-height: 122px;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0; }

/* line 112, sass/style.sass */
.mobile_pocket {
  position: relative;
  top: 0;
  left: 0; }

/* line 115, sass/style.sass */
.mobile_shoe {
  max-width: 17px;
  max-height: 16px;
  position: absolute;
  top: 23px;
  left: 11px;
  opacity: 0;
  transition: .3s; }

/* cloud with shoe */
/* line 125, sass/style.sass */
.complete_cloud {
  width: 124px;
  max-height: 80px;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0; }

/* line 131, sass/style.sass */
.cloud {
  position: relative;
  top: 0;
  left: 0; }

/* line 134, sass/style.sass */
.cloud_shoe {
  max-width: 47px;
  max-height: 22px;
  position: absolute;
  bottom: 20px;
  left: 38px;
  opacity: 0;
  transition: 1s; }

/* line 143, sass/style.sass */
.svg_replacement {
  display: none; }

/* FAQ */
/* line 147, sass/style.sass */
.faq h1 {
  margin-top: 170px; }

/* line 150, sass/style.sass */
.faq_line {
  margin-top: 26px;
  padding: 0;
  border-top: 1px solid #fff; }

/* line 155, sass/style.sass */
.faq h2 {
  margin-top: 16px;
  padding-bottom: 18px;
  border-bottom: 1px solid #fff; }

/* line 160, sass/style.sass */
.faq ul {
  padding: 16px 20px 0 0;
  list-style: none;
  font-size: 20px;
  text-align: left;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.3); }

/* TABLE */
/* line 169, sass/style.sass */
.table {
  text-align: center; }

/* line 172, sass/style.sass */
.table h1 {
  margin-top: 140px;
  margin-bottom: 56px; }

/* line 176, sass/style.sass */
table {
  margin-bottom: 140px;
  display: inline-block;
  border-collapse: collapse; }

/* line 181, sass/style.sass */
td {
  padding: 9px 42px;
  border: 1px solid;
  font-size: 18px; }

/* SCROLLBAR */
/* line 188, sass/style.sass */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent; }

/* line 193, sass/style.sass */
::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5; }

/* line 198, sass/style.sass */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a7a5a5; }

/* MEDIA QUERIES */
@media (min-width: 769px) {
  /* GRID (for desktop): */
  /* line 207, sass/style.sass */
  .col-m-1 {
    width: 8.33%; }
  /* line 209, sass/style.sass */
  .col-m-2 {
    width: 16.66%; }
  /* line 211, sass/style.sass */
  .col-m-3 {
    width: 25%; }
  /* line 213, sass/style.sass */
  .col-m-4 {
    width: 33.33%; }
  /* line 215, sass/style.sass */
  .col-m-5 {
    width: 41.66%; }
  /* line 217, sass/style.sass */
  .col-m-6 {
    width: 50%; }
  /* line 219, sass/style.sass */
  .col-m-7 {
    width: 58.33%; }
  /* line 221, sass/style.sass */
  .col-m-8 {
    width: 66.66%; }
  /* line 223, sass/style.sass */
  .col-m-9 {
    width: 75%; }
  /* line 225, sass/style.sass */
  .col-m-10 {
    width: 83.33%; }
  /* line 227, sass/style.sass */
  .col-m-11 {
    width: 91.66%; }
  /* line 229, sass/style.sass */
  .col-m-12 {
    width: 100%; }
  /* offset */
  /* line 233, sass/style.sass */
  .col-offset-1 {
    margin-left: 8.33%; }
  /* line 235, sass/style.sass */
  .col-offset-2 {
    margin-left: 16.66%; }
  /* line 237, sass/style.sass */
  .col-offset-3 {
    margin-left: 25%; }
  /* line 239, sass/style.sass */
  .col-offset-4 {
    margin-left: 33.33%; }
  /* line 241, sass/style.sass */
  .col-offset-5 {
    margin-left: 41.66%; }
  /* line 243, sass/style.sass */
  .col-offset-6 {
    margin-left: 50%; }
  /* line 245, sass/style.sass */
  .col-offset-7 {
    margin-left: 58.33%; }
  /* line 247, sass/style.sass */
  .col-offset-8 {
    margin-left: 66.66%; }
  /* line 249, sass/style.sass */
  .col-offset-9 {
    margin-left: 75%; }
  /* line 251, sass/style.sass */
  .col-offset-12 {
    margin-left: 83.33%; }
  /* line 253, sass/style.sass */
  .col-offset-11 {
    margin-left: 91.66%; } }

@media (min-width: 768px) and (max-width: 992px) {
  /* line 257, sass/style.sass */
  .intro p {
    margin-bottom: 0; }
  /* animations */
  /* line 261, sass/style.sass */
  .animation .col-offset-2 {
    margin: 0;
    padding: 40px; }
  /* line 264, sass/style.sass */
  .animation .col-m-8 {
    width: 100%; } }

@media (max-width: 768px) {
  /* GRID (for tablets & mobiles): */
  /* line 269, sass/style.sass */
  .col-s-1 {
    width: 8.33%; }
  /* line 271, sass/style.sass */
  .col-s-2 {
    width: 16.66%; }
  /* line 273, sass/style.sass */
  .col-s-3 {
    width: 25%; }
  /* line 275, sass/style.sass */
  .col-s-4 {
    width: 33.33%; }
  /* line 277, sass/style.sass */
  .col-s-5 {
    width: 41.66%; }
  /* line 279, sass/style.sass */
  .col-s-6 {
    width: 50%; }
  /* line 281, sass/style.sass */
  .col-s-7 {
    width: 58.33%; }
  /* line 283, sass/style.sass */
  .col-s-8 {
    width: 66.66%; }
  /* line 285, sass/style.sass */
  .col-s-9 {
    width: 75%; }
  /* line 287, sass/style.sass */
  .col-s-10 {
    width: 83.33%; }
  /* line 289, sass/style.sass */
  .col-s-11 {
    width: 91.66%; }
  /* line 291, sass/style.sass */
  .col-s-12 {
    width: 100%; }
  /* STYLES */
  /* line 295, sass/style.sass */
  .intro p {
    padding: 0 50px; }
  /* line 298, sass/style.sass */
  .faq h2,
  .faq ul {
    text-align: center; } }

@media (max-width: 640px) {
  /* animations */
  /* line 304, sass/style.sass */
  .animation {
    display: none; }
  /* line 307, sass/style.sass */
  figure {
    width: 600px;
    height: 150px; } }

@media (max-width: 480px) {
  /* global */
  /* line 313, sass/style.sass */
  section > .container {
    text-align: left; }
  /* line 316, sass/style.sass */
  p {
    font-size: 16px;
    text-align: left; }
  /*logo */
  /* line 321, sass/style.sass */
  .logo {
    top: 20px;
    left: 8px;
    transform: scale(0.8); }
  /* header, intro */
  /* line 327, sass/style.sass */
  .intro h1 {
    margin: 90px 0 13px 0;
    padding: 0 24px;
    margin-top: 123px; }
  /* line 332, sass/style.sass */
  .intro p {
    padding: 0 12px 0 21px;
    margin-bottom: 76px; }
  /* faq */
  /* line 337, sass/style.sass */
  .faq h1 {
    text-align: center; }
  margin-top: 23px;
  /* line 343, sass/style.sass */
  .faq h2 {
    margin-bottom: 68px; }
  /* line 346, sass/style.sass */
  .faq ul {
    font-size: 18px; }
  /* carousel */
  /* line 350, sass/style.sass */
  .slick-arrow {
    bottom: 20px;
    right: 80px; }
  /* line 354, sass/style.sass */
  .slick-next,
  .slick-prev {
    width: 50px;
    right: 100px;
    top: 400px;
    transform: scale(1.5); }
  /* line 361, sass/style.sass */
  .slick-prev {
    left: 100px; }
  /* table */
  /* line 365, sass/style.sass */
  .table h1 {
    margin-bottom: 29px;
    padding: 0 23px;
    text-align: left; }
  /* line 370, sass/style.sass */
  td {
    font-size: 14px; } }

/*# sourceMappingURL=style.css.map */