/* GLOBAL */
/* line 2, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
* {
  box-sizing: border-box; }

/* line 5, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
body {
  margin: 0;
  background-color: #211d70;
  font-family: 'Brandon Text Medium', Arial, sans-serif;
  color: #fff; }

/* line 11, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
section {
  width: 100%; }

/* line 14, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
section > .container {
  text-align: center; }

/* line 17, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
.container {
  max-width: 1000px;
  margin: 0 auto; }

/* fonts */
@font-face {
  font-family: 'Brandon Text Medium';
  src: url("../fonts/BrandonText-Medium.woff"); }

/* line 26, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
h1 {
  font-size: 2.125em;
  font-weight: lighter; }

/* line 30, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
h2 {
  font-size: 24px;
  font-weight: lighter;
  text-align: left; }

/* line 35, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
p {
  margin: 0;
  font-family: font122183, Arial, sans-serif;
  font-size: 18px;
  text-align: justify;
  hyphens: auto; }

/* mixins */
/* GRID */
/* line 49, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
[class*="col-"] {
  min-height: 1px;
  padding: 12px 30px;
  float: left; }

/* clearfix */
/* line 55, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

/* LOGO */
/* line 62, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
.logo {
  position: absolute;
  top: 30px;
  left: 58px;
  cursor: pointer;
  transition: .8s; }
  /* line 68, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .logo:hover {
    opacity: .7;
    transform: scale(1.1); }

/* HEADER */
/* line 74, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
.intro h1 {
  margin: 153px 0 2px 0; }

/* line 77, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
.intro p {
  margin-bottom: 74px; }

/* ANIMATION ELEMENTS for:*/
/* all */
/* line 83, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
figure {
  margin: 0 0 13px 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }

/* line 89, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
.animation {
  filter: brightness(0) invert(1); }

/* beacons */
/* line 93, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
.beacons {
  width: 126px;
  height: 96px;
  transition: .5s; }

/* dots */
/* line 99, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
.dot {
  width: 9px;
  height: 9px;
  margin: -35px;
  background-size: cover; }

/* mobile with icon*/
/* line 106, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
.complete_mobile {
  width: 76px;
  height: 122px;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0; }

/* line 112, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
.mobile_pocket {
  position: relative;
  top: 0;
  left: 0; }

/* line 115, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
.mobile_shoe {
  width: 17px;
  height: 16px;
  position: absolute;
  top: 23px;
  left: 11px;
  opacity: 0;
  transition: .3s; }

/* cloud with shoe */
/* line 125, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
.complete_cloud {
  width: 124px;
  height: 80px;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0; }

/* line 131, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
.cloud {
  position: relative;
  top: 0;
  left: 0; }

/* line 134, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
.cloud_shoe {
  width: 47px;
  height: 22px;
  position: absolute;
  bottom: 20px;
  left: 38px;
  opacity: 0;
  transition: 1s; }

/* FAQ */
/* line 144, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
.faq h1 {
  margin-top: 170px; }

/* line 147, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
.faq_line {
  margin-top: 26px;
  padding: 0;
  border-top: 1px solid #fff; }

/* line 152, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
.faq h2 {
  margin-top: 16px;
  padding-bottom: 18px;
  border-bottom: 1px solid #fff; }

/* line 157, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
.faq ul {
  padding: 16px 20px 0 0;
  list-style: none;
  font-size: 20px;
  text-align: left;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.3); }

/* TABLE */
/* line 166, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
.table {
  text-align: center; }

/* line 169, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
.table h1 {
  margin-top: 140px;
  margin-bottom: 56px; }

/* line 173, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
table {
  margin-bottom: 140px;
  display: inline-block;
  border-collapse: collapse; }

/* line 178, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
td {
  padding: 9px 42px;
  border: 1px solid;
  font-size: 18px; }

/* SCROLLBAR */
/* line 185, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent; }

/* line 190, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #F5F5F5; }

/* line 196, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a7a5a5; }

/* MEDIA QUERIES */
@media (min-width: 769px) {
  /* GRID (for desktop): */
  /* line 205, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-m-1 {
    width: 8.33%; }
  /* line 207, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-m-2 {
    width: 16.66%; }
  /* line 209, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-m-3 {
    width: 25%; }
  /* line 211, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-m-4 {
    width: 33.33%; }
  /* line 213, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-m-5 {
    width: 41.66%; }
  /* line 215, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-m-6 {
    width: 50%; }
  /* line 217, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-m-7 {
    width: 58.33%; }
  /* line 219, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-m-8 {
    width: 66.66%; }
  /* line 221, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-m-9 {
    width: 75%; }
  /* line 223, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-m-10 {
    width: 83.33%; }
  /* line 225, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-m-11 {
    width: 91.66%; }
  /* line 227, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-m-12 {
    width: 100%; }
  /* offset */
  /* line 231, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-offset-1 {
    margin-left: 8.33%; }
  /* line 233, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-offset-2 {
    margin-left: 16.66%; }
  /* line 235, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-offset-3 {
    margin-left: 25%; }
  /* line 237, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-offset-4 {
    margin-left: 33.33%; }
  /* line 239, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-offset-5 {
    margin-left: 41.66%; }
  /* line 241, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-offset-6 {
    margin-left: 50%; }
  /* line 243, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-offset-7 {
    margin-left: 58.33%; }
  /* line 245, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-offset-8 {
    margin-left: 66.66%; }
  /* line 247, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-offset-9 {
    margin-left: 75%; }
  /* line 249, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-offset-12 {
    margin-left: 83.33%; }
  /* line 251, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-offset-11 {
    margin-left: 91.66%; } }

@media (min-width: 768px) and (max-width: 992px) {
  /* line 255, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .intro p {
    margin-bottom: 0; }
  /* animations */
  /* line 259, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .animation .col-offset-2 {
    margin: 0;
    padding: 40px; }
  /* line 262, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .animation .col-m-8 {
    width: 100%; } }

@media (min-width: 768px) and (max-width: 1050px) {
  /* faq */
  /* line 267, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .carousel {
    padding: 0 25px; } }

@media (max-width: 768px) {
  /* GRID (for tablets & mobiles): */
  /* line 272, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-s-1 {
    width: 8.33%; }
  /* line 274, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-s-2 {
    width: 16.66%; }
  /* line 276, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-s-3 {
    width: 25%; }
  /* line 278, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-s-4 {
    width: 33.33%; }
  /* line 280, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-s-5 {
    width: 41.66%; }
  /* line 282, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-s-6 {
    width: 50%; }
  /* line 284, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-s-7 {
    width: 58.33%; }
  /* line 286, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-s-8 {
    width: 66.66%; }
  /* line 288, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-s-9 {
    width: 75%; }
  /* line 290, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-s-10 {
    width: 83.33%; }
  /* line 292, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-s-11 {
    width: 91.66%; }
  /* line 294, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .col-s-12 {
    width: 100%; }
  /* STYLES */
  /* line 298, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .intro p {
    padding: 0 50px; }
  /* line 301, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .faq h2,
  .faq ul {
    text-align: center; } }

@media (max-width: 640px) and (min-width: 321px) {
  /* line 306, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .intro h1 {
    margin-bottom: 60px; }
  /* line 308, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .intro p {
    margin: 0;
    padding: 0 30px; }
  /* line 312, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .animation {
    display: none; } }

@media (max-width: 480px) {
  /* global */
  /* line 317, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  section > .container {
    text-align: left; }
  /* line 320, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  p {
    font-size: 16px;
    text-align: left; }
  /* line 324, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .description {
    padding: 30px; }
  /*logo */
  /* line 327, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .logo {
    top: 20px;
    left: 8px;
    transform: scale(0.8); }
  /* header, intro */
  /* line 333, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .intro h1 {
    margin: 90px 0 13px 0;
    padding: 0 24px;
    margin-top: 123px; }
  /* line 338, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .intro p {
    margin-bottom: 0;
    padding: 0 12px 0 30px; }
  /* faq */
  /* line 343, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .faq h1 {
    text-align: center; }
  margin-top: 23px;
  /* line 349, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .faq h2 {
    margin-bottom: 68px; }
  /* line 352, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .faq ul {
    font-size: 18px; }
  /* carousel */
  /* line 356, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .slick-arrow {
    bottom: 20px;
    right: 80px;
    background-color: transparent;
    border: none; }
  /* buttons */
  /* line 363, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .slick-next,
  .slick-prev {
    width: 55px;
    right: 100px;
    top: 400px; }
  /* line 369, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .slick-prev {
    left: 100px; }
  /* table */
  /* line 373, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .table h1 {
    margin-bottom: 29px;
    padding: 0 23px;
    text-align: left; }
  /* line 378, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  td {
    font-size: 14px; } }

@media (max-width: 320px) {
  /* logo */
  /* line 385, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .logo {
    width: inherit; }
    /* line 387, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
    .logo:hover {
      transform: scale(0.75); }
  /* intro */
  /* line 391, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .intro h1 {
    margin-left: -2px; }
  /* line 393, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .intro p {
    margin-left: -8px; }
  /* animations + texts */
  /* line 397, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  figure {
    height: 30px;
    padding: 0; }
  /* line 401, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .beacons {
    width: 111px;
    position: relative;
    top: 110px;
    right: 11px; }
  /* line 407, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .dot {
    display: none; }
  /* line 410, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .complete_mobile {
    width: 40%;
    top: 300px;
    left: 69px; }
  /* line 415, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .mobile_shoe {
    top: 18px;
    left: 8px; }
  /* line 419, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .complete_cloud {
    top: 477px;
    left: -178px;
    transform: scale(1.43); }
  /* line 424, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .cloud_shoe {
    width: 27px;
    top: 18px;
    left: 26px; }
  /* line 429, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .desktop_text {
    width: 64%;
    float: right; }
  /* line 433, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .mobile_1_row {
    position: relative;
    left: 10px; }
  /* line 437, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .mobile_2_row {
    position: relative;
    top: 50px;
    right: 39vw; }
  /* line 442, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .mobile_3_row {
    position: relative;
    top: 90px;
    left: 10px; }
  /* faq */
  /* line 448, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .faq h1 {
    margin-top: 187px;
    margin-bottom: 3px; }
  /* carousel */
  /* line 453, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .carousel {
    padding: 0 13px; }
  /* line 456, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  ul {
    margin-top: -20px; }
  /* line 459, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  li {
    padding-left: 15px;
    text-align: left; }
  /* buttons */
  /* line 464, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .slick-arrow {
    margin-top: -31px; }
  /* table */
  /* line 468, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  .table h1 {
    margin-top: 129px;
    margin-left: -2px; }
  /* line 471, F:/Moje teksty/programowanie/Moje projekty/29. Front-End recruitment task (Estimote) - 23.06.17/sass/style.sass */
  table {
    margin: 9px 0 65px 0; } }

/*# sourceMappingURL=style.css.map */